name: Test standalone mode

concurrency:
  group: ${{ github.workflow }}-${{ github.head_ref || github.ref }}
  cancel-in-progress: true

on:
  push:
    paths-ignore:
      - "**/*.md"
      - ".github/workflows/ci-build.yml"
      - ".github/workflows/rust-static-lib.yml"

  pull_request:
    paths-ignore:
      - "**/*.md"
      - ".github/workflows/ci-build.yml"
      - ".github/workflows/rust-static-lib.yml"

jobs:
  build_ubuntu_2204:
    name: Ubuntu
    runs-on: ubuntu-22.04
    strategy:
      matrix:
        rust: [1.75, 1.74, 1.73]

    steps:
      - name: Checkout WasmEdge Rust SDK
        uses: actions/checkout@v3
        with:
          fetch-depth: 0

      - name: Set up build environment
        run: |
          sudo apt update
          sudo apt install -y software-properties-common libboost-all-dev ninja-build
          sudo apt install -y llvm-14-dev liblld-14-dev clang-14
          sudo apt install -y gcc g++
          sudo apt install -y libssl-dev pkg-config gh

      - name: Install Rust stable
        uses: dtolnay/rust-toolchain@stable
        with:
          toolchain: ${{ matrix.rust }}

      - name: Run in the standalone mode
        run: |
          export LLVM_DIR="/usr/local/opt/llvm/lib/cmake"
          export CC=clang
          export CXX=clang++
          export LD_LIBRARY_PATH=$HOME/.wasmedge/lib
          cargo test -p wasmedge-sdk --all --examples --features standalone

  build_ubuntu_2004:
    name: Ubuntu
    runs-on: ubuntu-20.04
    strategy:
      matrix:
        rust: [1.75, 1.74, 1.73]

    steps:
      - name: Checkout WasmEdge Rust SDK
        uses: actions/checkout@v3
        with:
          fetch-depth: 0

      - name: Set up build environment
        run: |
          sudo apt update
          sudo apt install -y software-properties-common libboost-all-dev ninja-build
          sudo apt install -y llvm-12-dev liblld-12-dev clang-12
          sudo apt install -y gcc g++
          sudo apt install -y libssl-dev pkg-config gh

      - name: Install Rust stable
        uses: dtolnay/rust-toolchain@stable
        with:
          toolchain: ${{ matrix.rust }}

      - name: Run in the standalone mode
        run: |
          export LLVM_DIR="/usr/local/opt/llvm/lib/cmake"
          export CC=clang
          export CXX=clang++
          export LD_LIBRARY_PATH=$HOME/.wasmedge/lib
          cargo test -p wasmedge-sdk --all --examples --features standalone

  build_macos:
    name: MacOS
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [macos-12, macos-13]
        rust: [1.75, 1.74, 1.73]

    steps:
      - name: Checkout sources
        uses: actions/checkout@v3
        with:
          fetch-depth: 0

      - name: Install Rust stable
        uses: dtolnay/rust-toolchain@stable
        with:
          toolchain: ${{ matrix.rust }}

      - name: Install build tools
        run: brew install llvm ninja boost cmake

      - name: Install libwasmedge
        run: |
          export LLVM_DIR="/usr/local/opt/llvm/lib/cmake"
          export CC=clang
          export CXX=clang++
          export DYLD_LIBRARY_PATH=$HOME/.wasmedge/lib
          cargo test -p wasmedge-sdk --all --examples --features standalone

  build_fedora:
    name: Fedora latest
    runs-on: ubuntu-latest
    strategy:
      matrix:
        rust: [1.75, 1.74, 1.73]
    container:
      image: fedora:latest

    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0

      - name: Set up build environment
        run: |
          dnf update -y
          dnf install -y cmake ninja-build boost llvm llvm-devel lld-devel clang git file rpm-build dpkg-dev spdlog-devel

      - name: Install Rust stable
        uses: dtolnay/rust-toolchain@stable
        with:
          toolchain: ${{ matrix.rust }}

      - name: Run in the standalone mode
        run: |
          export LLVM_DIR="/usr/local/opt/llvm/lib/cmake"
          export CC=clang
          export CXX=clang++
          export LD_LIBRARY_PATH=$HOME/.wasmedge/lib
          cargo test -p wasmedge-sdk --all --examples --features standalone
